<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="text-align:center">
      <h1>Bog Creatures</h1>
      <%= @creatures.each do |creature| %>

        <div>
          Name: <%= creature.name %> <br>
          Description: <%= creature.description %>
        </div>

      <% end %>

      <%= @creatures.each do |creature| %>
        <h2> <%= creature.name %> </h2>
        <p> <%= creature.description %></p>
        <%= button_to "Delete", creature, method: :delete %>
      <% end %>

       <a href="/creatures/new" class="btn btn-success">Create New Creature</a>

    </div>
  </div>
</div>
  
   
    
    